---

---

<header class="flex justify-between items-center p-6 mt-1">
  <div class="flex gap-2 items-center">
    <img
      src="/favicon.png"
      alt="Logo RitmosBot"
      width="30"
      height="30"
      loading="eager"
    />
    <p class="font-bold">RitmosBot</p>
  </div>

  <nav class="flex gap-5 items-center">
    <a href="#funciones">Funciones</a>
    <a href="#comandos">Comandos</a>
    <a href="#comoempezar">Como empezar</a>
    <button class="bg-purple-700 rounded-xl pt-2 pb-2 pr-3 pl-3 font-bold"
      >Invitar bot</button
    >
  </nav>
</header>

<style>
  header {
    height: 60px;
    border-bottom: 1px solid #121212;
  }
</style>
