---

---

<footer class="flex justify-center items-center p-6 mt-1">
  <p>Hecho con ❤️ por devparada</p>
</footer>

<style>
  footer {
    height: 60px;
    border-top: 1px solid #121212;
  }
</style>
