---

---

<div id="intro" class="w-full h-full max-w-fit m-auto text-center">
	<h1 class="md:text-left w-full font-bold text-2xl">RitmosBot</h1>
	<p>
		Bot de música que permite a los usuarios disfrutar de su música en
		Discord
	</p>
	<div class="mt-4">
		<a
			href="https://discord.com/oauth2/authorize?client_id=1284099784218509353"
			class="boton">Añadir a tu servidor</a
		>
	</div>
</div>

<style>
	#intro {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.boton {
		background-color: blueviolet;
		border: 1px solid blueviolet;
		border-radius: 10px;
		margin-top: 10px;
		padding: 10px;
	}
</style>
