---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="canonical" href="https://ritmosweb.vercel.app/" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Inicio | RitmosWeb</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
	}
</style>
